@font-face {
  font-family: "Digital Numbers";
  src: url("assets/fonts/DigitalNumbers-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: #1c185f;
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.heading-text {
  color: #ffffff;
  font-weight: bolder;
}

.score {
  height: 150px;
  width: 200px;
  background-color: black;
  font-family: "Digital Numbers", monospace;

  color: #ed0707;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 7px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  font-family: "Digital Numbers", monospace;
  font-weight: bold;
  font-size: 15px;
}

.footer-text {
  margin-top: 50px;
  text-align: center;
  color: white;
}

.footer-cta {
  border: 2px solid rgb(29, 195, 11);
  padding: 5px;
  color: rgb(251, 243, 15);
  text-decoration: none;
}
